<mat-toolbar color="primary" class="mat-elevation-z4">
  <div class="logo" (click)="router.navigate(['/home'])"></div>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <div class="user-actions" *ngIf="!isLoggedIn">
    <button mat-button routerLink="/login">Inicia sesión</button>
    <button mat-button routerLink="/register">Registrarse</button>

  </div>
  <div class="user-actions" *ngIf="isLoggedIn">
    <button mat-button (click)="Logout()">Cerrar Sesión</button>
    <button mat-button routerLink="/cart">Carrito</button>
    <button mat-button routerLink="/shopping">Mis Compras</button>
    <p>!! {{userData.user.username}}</p>
  </div>

</mat-toolbar>

