.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.product-card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

.product-title {
  padding: 10px 15px; /* Ajustar el padding para un mejor espaciado */
}

.product-button {
  width: calc(100% - 20px); /* Abarcar el ancho de la tarjeta con margen */
  margin: 10px;
  display: block;
}

.product-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-image.loaded {
  opacity: 1;
}
