.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.loading {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-image: url("../../../assets/images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;
  align-content: center;
}
span a {
  color: rgba(255, 255, 255, 0);
}

.loading.active {
  display: block;
}
