html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #062f34;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
